@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --hunyadi-yellow: #EEC475;
    --white: #fff;
    --black: #000;
    --linear-blue: linear-gradient(rgba(24, 24, 59, 0.7), rgba(32, 32, 139, 0.6));
    --blue-rgb: rgb(76, 76, 240);
    --blue: blue;
    --dark-blue: rgb(34, 34, 90);
    --Montserrat: 'Montserrat';
    --Libre-Baskerville: 'Libre Baskerville';
    --Playfair-Display: 'Playfair Display';
}
.header {
    height: 960px;
    width: 100%;
    background: linear-gradient(rgba(24, 24, 59, 0.8), rgba(32, 32, 139, 0.7)), url(Images/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.menu_bar i {
    display: none;
}
.menu_list {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
    transition: all 400ms ease;
}
.links_ul_menu li {
    font-size: 40px;
    padding: 30px 0;
    list-style: none;
    letter-spacing: 1.5px;
    font-family: "Montserrat";
}
.links_ul_menu li a {
    text-decoration: none;
    color: var(--white);
}
.close_icon {
    position: fixed;
    top: 62px;
    right: 120px;
    height: 60px;
    width: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}
.menu_list.active .close_icon {
    opacity: 1;
    pointer-events: auto;
}
.quote_btn_list {
    padding: 24px 32px;
    background: var(--blue-rgb);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--Montserrat);
    font-weight: 550;
    font-size: 28px;
    transition: all .2s;
    letter-spacing: .5px;
}
.active {
    left: 0;
}
.nav_inn {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}
.logo {
    width: 35%;
    padding: 0 0 0 28px;
}
.logo span {
    color: blue;
    font-size: 35px;
    font-family: var(--Montserrat);
}
.name {
    font-family: var(--Montserrat);
    color: #fff;
    letter-spacing: .5px;
    font-size: 30px;
}
.links_ul {
    display: flex;
    align-items: center;
}
.links_ul li {
    list-style: none;
    padding: 0 15px;
    padding-top: 10px;
}
.links_ul a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    letter-spacing: .8px;
    font-family: var(--Montserrat);
}
.quote {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.quote_btn {
    padding: 10px 18px;
    background: var(--blue-rgb);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--Montserrat);
    font-weight: 550;
    font-size: 17px;
    transition: all .2s;
    letter-spacing: .5px;
}
.quote_btn:hover {
    color: var(--blue);
    background: var(--white);
    font-weight: 400;
}
.hero_section {
    height: 90%;
    width: 100%;
}
.hero_content {
    height: 100%;
    padding: 0 40px 0 0;
}
.subheading {
    width: 80%;
    line-height: 1.4;
    padding: 230px 0 0 80px;
}
.hero_subhead {
    font-size: 68px;
    color: var(--white);
    font-family: var(--Libre-Baskerville);
    letter-spacing: 1.8px;
    font-weight: 750;
    width: 909px;
}
.subparagraph {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero_para {
    width: 600px;
    color: var(--white);
    font-family: var(--Montserrat);
    font-size: 24px;
    padding: 90px 0 0 0;
    line-height: 1.4;
}
.get_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px 0 0 0;
}
.get_btn {
    color: var(--white);
    text-decoration: none;
    font-size: 19px;
    padding: 12px 23px;
    padding-right: 25px;
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: all .2s;
    letter-spacing: .8px;
}
.get_btn i {
    font-size: 24px;
}
.get_btn:hover {
    background: var(--white);
    color: var(--dark-blue);
}
.sticky {
    position: sticky;
    top: 0;
}
.about_section { 
    height: 600px;
    width: 100%;
    padding: 40px 0;
}
.about_subheading {
    font-size: 30px;
    color: var(--dark-blue);
    text-align: center;
}